<a href="https://colab.research.google.com/github/Naushad13b/Machine-Learning/blob/main/All_mean_features.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [56]:
import pandas as pd

In [57]:
data=pd.read_csv(r'/content/Book_3.csv')

In [59]:
data.tail(300)

,Unnamed: 0,Station,Date,PM2.5,PM10,NO,NO2,SO2,CO,Ozone,Temp,RH,WS,WD,SR
9190,9190,3Z,07-03-2021 00:00,145.75,319.88,37.37,60.10,46.68,1.29,42.59,25.249537,43.82,0.84,97.91,149.05
9191,9191,3Z,08-03-2021 00:00,111.90,246.61,3.40,49.03,35.73,1.53,51.66,25.249537,51.95,1.01,103.26,142.78
9192,9192,3Z,09-03-2021 00:00,167.93,341.86,6.93,56.16,46.56,1.41,37.32,25.249537,56.74,1.08,105.18,157.93
9193,9193,3Z,10-03-2021 00:00,90.90,217.02,17.88,57.27,30.19,1.51,25.52,25.249537,43.41,0.69,213.98,176.51
9194,9194,3Z,11-03-2021 00:00,156.12,291.36,41.20,63.48,35.62,1.84,25.41,25.249537,53.45,0.95,173.99,190.42
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9485,9485,3Z,27-12-2021 00:00,121.87,211.39,33.50,25.13,4.93,1.18,9.40,25.249537,73.16,0.60,87.55,92.98
9486,9486,3Z,28-12-2021 00:00,194.25,306.67,39.60,31.52,5.11,1.63,3.53,25.249537,80.65,0.54,122.90,28.42
9487,9487,3Z,29-12-2021 00:00,155.07,271.92,71.41,29.03,3.81,1.66,7.28,25.249537,75.64,0.65,202.55,97.98
9488,9488,3Z,30-12-2021 00:00,156.70,282.88,41.40,31.51,4.26,1.24,11.13,25.249537,65.43,0.58,261.64,91.23
9489,9489,3Z,31-12-2021 00:00,170.31,291.57,20.63,28.91,3.89,0.87,10.73,25.249537,70.94,0.60,253.25,120.75

In [60]:
data.columns

Index(['Unnamed: 0', 'Station', 'Date', 'PM2.5', 'PM10', 'NO', 'NO2', 'SO2',
       'CO', 'Ozone', 'Temp', 'RH', 'WS', 'WD', 'SR'],
      dtype='object')

In [63]:
pmdata=data["PM2.5"]
pmdata1=data["PM10"]
pmdata2=data["NO"]
pmdata3=data["NO2"]
pmdata4=data["SO2"]
pmdata5=data["CO"]
pmdata6=data["Ozone"]
pmdata7=data["Temp"]
pmdata8=data["RH"]
pmdata9=data["WS"]
pmdata10=data["WD"]
pmdata11=data["SR"]

In [64]:
meandata=[]
s=0 #for strat index
l=26 #end index
for i in range(365):
  x=pmdata[s:l]
  meandata.append(x.mean())
  s=l
  l=l+26

In [65]:
meandata1=[]
s=0 #for strat index
l=26 #end index
for i in range(365):
  x=pmdata1[s:l]
  meandata1.append(x.mean())
  s=l
  l=l+26

In [66]:
meandata2=[]
s=0 #for strat index
l=26 #end index
for i in range(365):
  x=pmdata2[s:l]
  meandata2.append(x.mean())
  s=l
  l=l+26

In [67]:
meandata3=[]
s=0 #for strat index
l=26 #end index
for i in range(365):
  x=pmdata3[s:l]
  meandata3.append(x.mean())
  s=l
  l=l+26

In [68]:
meandata4=[]
s=0 #for strat index
l=26 #end index
for i in range(365):
  x=pmdata4[s:l]
  meandata4.append(x.mean())
  s=l
  l=l+26

In [69]:
meandata5=[]
s=0 #for strat index
l=26 #end index
for i in range(365):
  x=pmdata5[s:l]
  meandata5.append(x.mean())
  s=l
  l=l+26

In [70]:
meandata6=[]
s=0 #for strat index
l=26 #end index
for i in range(365):
  x=pmdata6[s:l]
  meandata6.append(x.mean())
  s=l
  l=l+26

In [71]:
meandata7=[]
s=0 #for strat index
l=26 #end index
for i in range(365):
  x=pmdata7[s:l]
  meandata7.append(x.mean())
  s=l
  l=l+26

In [72]:
meandata8=[]
s=0 #for strat index
l=26 #end index
for i in range(365):
  x=pmdata8[s:l]
  meandata8.append(x.mean())
  s=l
  l=l+26

In [73]:
meandata9=[]
s=0 #for strat index
l=26 #end index
for i in range(365):
  x=pmdata9[s:l]
  meandata9.append(x.mean())
  s=l
  l=l+26

In [74]:
meandata10=[]
s=0 #for strat index
l=26 #end index
for i in range(365):
  x=pmdata10[s:l]
  meandata10.append(x.mean())
  s=l
  l=l+26

In [75]:
meandata11=[]
s=0 #for strat index
l=26 #end index
for i in range(365):
  x=pmdata11[s:l]
  meandata11.append(x.mean())
  s=l
  l=l+26

In [76]:
d=pd.DataFrame([meandata,meandata1,meandata2,meandata3,meandata4,meandata5,meandata6,meandata7,meandata8,meandata9,meandata10,meandata11])

In [77]:
d

,0,1,2,3,4,5,6,7,8,9,...,355,356,357,358,359,360,361,362,363,364
0,177.457692,177.041923,114.797934,85.525385,94.883462,53.988077,52.225769,39.112692,34.549615,30.311538,...,92.124615,58.875000,54.563846,49.228077,39.978077,33.582692,45.996154,144.199857,283.850385,232.986538
1,242.076154,293.994231,285.880113,242.038846,249.743462,136.858462,192.123077,107.581923,76.062692,62.156923,...,199.715000,133.228846,178.336154,107.498077,106.557308,86.295000,120.375385,256.394231,462.700385,379.943077
2,12.648846,23.845769,15.833200,8.971923,4.553077,2.409231,4.933846,2.888462,3.108846,3.317308,...,11.185769,13.566923,8.097692,13.396538,18.996154,18.566154,19.099231,34.414615,83.883462,68.926923
3,21.981538,37.445385,30.457005,33.516154,27.274231,20.265385,28.499231,18.960769,13.437308,12.283846,...,21.044231,13.131154,19.730769,16.851923,15.716923,22.015000,23.211538,30.024231,37.855385,33.544231
4,10.996312,13.875769,22.661312,27.063077,25.679615,12.254231,11.983462,6.691154,5.270769,5.579231,...,11.279615,7.830000,9.055769,7.037308,4.624615,4.853077,5.379615,2.819615,5.722692,4.294615
5,0.934615,1.062308,0.899938,1.534615,1.462308,1.351476,0.918462,0.608846,0.631154,0.683462,...,1.048077,0.771538,1.008077,1.089231,1.348462,1.601154,1.645385,2.007308,3.328462,2.161538
6,22.750769,29.946154,49.829579,66.842656,58.697748,33.872308,34.104194,13.373462,10.551538,12.661538,...,20.994615,20.776154,33.309231,24.799615,15.656538,19.000000,26.167308,19.180000,15.917656,12.355385
7,25.249537,25.249537,25.249537,25.249537,25.249537,25.249537,25.249537,25.249537,25.249537,25.249537,...,25.249537,25.249537,25.249537,25.249537,25.249537,25.249537,25.249537,25.249537,25.249537,25.249537
8,73.310769,66.552308,53.802608,39.558846,32.330385,28.734231,31.276538,75.064231,74.169231,76.713462,...,31.544231,49.947308,53.292692,71.647308,77.120385,82.860769,74.152308,70.802692,71.144615,71.809615
9,1.217308,1.283077,1.282424,0.959615,0.286538,0.232308,0.349615,1.279231,1.322308,0.788846,...,1.301538,0.673077,0.270000,0.467308,0.533462,0.531154,0.541154,0.561923,0.580385,0.568462
10,189.037692,189.299231,202.165880,221.427308,168.367308,144.598462,140.128846,127.941923,159.704615,106.570000,...,180.318462,163.922692,149.292308,140.323077,149.572692,106.763077,160.056154,203.351154,201.208462,191.126923
11,79.580000,122.648077,133.581250,173.209231,217.080000,206.745769,217.330000,170.130000,167.175769,142.509615,...,199.487308,213.394231,222.633077,163.441154,173.615385,134.949615,150.341154,128.937692,101.142308,86.650769

In [78]:
# downloading csv file
SO2 = pd.DataFrame(d)
SO2.to_csv('booK3_1.csv')